<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-motioncal" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MotionCalibration</name>
    <js-module name="MotionCalibration" src="www/MotionCalibration.js">
        <clobbers target="MotionCalibration" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MotionCalibration">
                <param name="ios-package" value="MotionCalibration" />
            </feature>
        </config-file>
        <source-file src="src/ios/MotionCalibration.m" />
        <header-file src="src/common/motioncalibration.h" />
        <source-file src="src/common/motioncalibration.c" />
        <source-file src="src/common/imuread.h" />
        <source-file src="src/common/mahony.c" />
        <source-file src="src/common/matrix.c" />
        <source-file src="src/common/magcal.c" />
        <source-file src="src/common/quality.c" />
        <source-file src="src/common/rawdata.c" />
        <source-file src="src/common/serialdata.c" />
        <source-file src="src/common/visualize.c" />
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MotionCalibration">
                <param name="android-package" value="com.denizak.motioncalibration.MotionCalibration"/>
            </feature>
        </config-file>
    
        <source-file src="src/android/MotionCalibration.java" target-dir="src/com/denizak/motioncalibration" />
        <source-file src="src/android/jni" target-dir="jni" />
    
        <lib-file src="src/android/libs/armeabi/libmotioncalibration.so" />
        <lib-file src="src/android/libs/armeabi-v7a/libmotioncalibration.so" />
        <lib-file src="src/android/libs/arm64-v8a/libmotioncalibration.so" />
        <lib-file src="src/android/libs/x86/libmotioncalibration.so" />
        <lib-file src="src/android/libs/x86_64/libmotioncalibration.so" />
    </platform>
</plugin>