<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-motioncal" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MotionCalibration</name>
    <js-module name="MotionCalibration" src="www/MotionCalibration.js">
        <clobbers target="MotionCalibration" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MotionCalibration">
                <param name="ios-package" value="MotionCalibration" />
            </feature>
        </config-file>
        <source-file src="src/ios/MotionCalibration.m" />
        <header-file src="src/common/motioncalibration.h" target-dir="common" />
        <source-file src="src/common/motioncalibration.c" target-dir="common" />
        <header-file src="src/common/imuread.h" target-dir="common" />
        <source-file src="src/common/mahony.c" target-dir="common" />
        <source-file src="src/common/matrix.c" target-dir="common" />
        <source-file src="src/common/magcal.c" target-dir="common" />
        <source-file src="src/common/quality.c" target-dir="common" />
        <source-file src="src/common/rawdata.c" target-dir="common" />
        <source-file src="src/common/serialdata.c" target-dir="common" />
        <source-file src="src/common/visualize.c" target-dir="common" />
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MotionCalibration">
                <param name="android-package" value="com.denizak.motioncalibration.MotionCalibration"/>
            </feature>
        </config-file>

        <source-file src="src/android/MotionCalibration.java" target-dir="src/com/denizak/motioncalibration" />
        
        <!-- Copy JNI source files -->
        <source-file src="src/android/jni/motioncalibration_jni.c" target-dir="jni" />
        <source-file src="src/android/jni/Android.mk" target-dir="jni" />
        <source-file src="src/android/jni/Application.mk" target-dir="jni" />
        
        <!-- Copy common source files -->
        <source-file src="src/common" target-dir="jni/common" />
        
        <!-- Copy precompiled native libraries -->
        <resource-file src="src/android/jniLibs/arm64-v8a/libmotioncalibration.so" target="jniLibs/arm64-v8a/libmotioncalibration.so" />
        <resource-file src="src/android/jniLibs/armeabi-v7a/libmotioncalibration.so" target="jniLibs/armeabi-v7a/libmotioncalibration.so" />
        <resource-file src="src/android/jniLibs/x86/libmotioncalibration.so" target="jniLibs/x86/libmotioncalibration.so" />
        <resource-file src="src/android/jniLibs/x86_64/libmotioncalibration.so" target="jniLibs/x86_64/libmotioncalibration.so" />
    </platform>
</plugin>