<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-motioncal" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MotionCalCordova</name>
    <js-module name="MotionCalCordova" src="www/MotionCalCordova.js">
        <clobbers target="cordova.plugins.MotionCalCordova" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MotionCalCordova">
                <param name="ios-package" value="MotionCalCordova" />
            </feature>
        </config-file>
        <source-file src="src/ios/MotionCalCordova.m" />
        <header-file src="src/ios/magcalibration.h" />
        <source-file src="src/ios/magcalibration.c" />
    </platform>
</plugin>